{{template "front_header.tmpl" .}}



<div class="layui-container">
    <div class="header">
        <h2 style="padding: 20px;text-align: center;">NDM存储管理</h2>
    </div>
</div>

<div class="layui-container" style="width:70%;min-width: 500px;">
    <div id="nav">
        <span class="layui-breadcrumb-ndm" lay-filter="ndm-nav">
            <a href="/">🏠主页</a>
            <span class="other"></span>
        </span>
    </div>
    <div id="list" class="bgw divtable"></div>
</div>


<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <table id="list2" lay-filter="ndm-list"></table>
        </div>
    </div>
</div>

<script>
layui.use(['layer','form','element','jquery','table','laydate','util'],function(){
///
var $ = layui.$;
var layer = layui.layer;
var form = layui.form;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;



function makeBreadcrumb(){
    var path = location.pathname;
    if (path == '' || path == '/') {
        return;
    }

    var parr = path.split("/");
    parr.shift();

    var con = '';
    var parr_len = parr.length;
    for (var i = 0; i < parr.length; i++) {
        var nparr = parr.slice(0,i+1);
        var url = '/'+nparr.join('/');
        con += '<span lay-separator="">/</span><span path="'+url+'">'+parr[i]+'</span>';
    }
    $('.layui-breadcrumb-ndm .other').html(con);

    $('.layui-breadcrumb-ndm .other span').click(function(){
        var path = $(this).attr("path");
        window.history.pushState({}, '', path);
        renderInfo(path);
    });
}


function renderInfo(req_path){
    var args = {
        password : "",
        path : req_path,
    }
    makeBreadcrumb();
    $.post('{{.api_path}}/fs/get', args, function(data){
        if (data.code == 200) {
            if (data.data.is_dir){
                renderList(req_path);
            } else {
                console.log(data);
                var ext_name = getExtName(data.data.name);
                console.log('ext_name',ext_name);
                if (isCodeFile(ext_name)){
                    console.log("ccc");
                    renderEditFile(data.data);
                } else {
                    renderDownload(data.data);
                }
            }
        } else if(data.code == 401){
            layer.msg(data.msg);
        }
    });
}


function renderEditFile(data){

    var body = '<div style="min-height:300px;margin:0 auto;padding:0px;">\
        <textarea id="edit_file" style="width:100%;margin:0 auto;line-height: 1.8;position: relative;top: 10px;" ></textarea>\
    </div>';

    $('#list').html(body);
    $("#edit_file").text("111");

    $.get(data.raw_url, function(data) {
        console.log(data);
    },'json');


    code_mirror = CodeMirror.fromTextArea(document.getElementById("edit_file"), {
        extraKeys: {
            "Ctrl-F": "findPersistent",
            "Ctrl-H": "replaceAll",
            "Ctrl-S": function() {
                // $("#edit_file").text(code_mirror.getValue());
            },
            "Cmd-S":function() {
                // $("#edit_file").text(code_mirror.getValue());
            },
        },
        mode: 'text/x-ttcn-asn',
        lineNumbers: true,
        matchBrackets: true,
        matchtags: true,
        autoMatchParens: true
    });
    // code_mirror.focus();

    // var q = $(window).height() * 0.9;
    // code_mirror.setSize("auto", q - 150);
    // $(window).resize(function(){
    //     var q = $(window).height() * 0.9;
    //     code_mirror.setSize("auto", q - 150);
    // }); 

}

function renderDownload(data){

    var body = '<div style="text-align:center;height:300px;margin:0 auto;padding:24px 0 24px 0;font-size:14px;">\
        <div class="logo"><i class="layui-icon layui-icon-file" style="font-size: 100px;"></i></div>\
        <div class="name" style="color:#20134b;font-size:20px;overflow-wrap:break-word;">'+data.name+'</div>\
        <div class="info" style="color:#7e868c;font-size:12px;padding-top:10px;">'+toSize(data.size)+"·"+isoTimeFormat(data['modified'])+'</div>\
        <div class="func" style="color:#7e868c;font-size:12px;padding-top:20px;">\
            <div class="layui-btn layui-btn-primary layui-border-green copy">复制链接</div>\
            <div class="layui-btn layui-btn-primary layui-border-red download">下载</div>\
            <div class="layui-btn layui-btn-primary layui-border-black qrcode">二维码</div>\
        </div>\
    </div>';

    $('#list').html(body);


    $("#list .func .copy").click(function(){
        Admin.Copy(data.raw_url);
    });

    $("#list .func .qrcode").click(function(e){
        e.stopPropagation();
        if ($('#qrcode').length>0){
            layer.closeAll('tips');
            return;
        }

        layer.tips('<canvas id="qrcode" height="150" width="150" style="height: 150px; width: 150px;"></canvas>',
            this,{
                tips: [1, '#fff'],
                // time: 100000,
                area: 'auto',
                success: function(layero){
                    layero.find('.layui-tips').css('padding', '10px');
                    $('#qrcode').qrcode({width: 130,height: 130,text: "size doesn't matter"});
                }
            }
        );
        
        $(document).on('click', function(e) {
            if (!$(e.target).closest('.layui-tips').length) {
                layer.closeAll('tips');
            }
        });
    });
}

function renderList(req_path){
    var args = {
        page: 1,
        password : "",
        path : req_path,
        per_page: 0,
        refresh: false,
    }

    var content = '<div class="divtable">\
            <table class="table table-hover" width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0 none;">\
            <thead>\
                <tr>\
                    <td style="width:50%;">名称</td>\
                    <td style="width:20%;text-align:right;">大小</td>\
                    <td style="width:30%;text-align:right;">修改时间</td>\
                </tr>\
            </thead>\
            <tbody></tbody>\
            </table>\
        </div>';
    $('#list').html(content);

    var loadT = layer.msg('正在获取...', { icon: 16, time: 0, shade: 0.3 });
    $.post('{{.api_path}}/fs/list', args, function(data){
        layer.close(loadT);
        var body = '';
        if (data.code==200){
            var list = data['data']['content'];

            for (var i = 0; i < list.length; i++) {

                if (location.pathname == "/"){
                    body += '<tr style="border: 0 none;" file="/'+list[i]['name']+'" >';
                } else {
                    body += '<tr style="border: 0 none;" file="'+location.pathname+"/"+list[i]['name']+'" >';
                }
                
                if (list[i]['is_dir']){
                    body += '<td>'+'<span class="ico ico-folder"></span>'+'<a class="text">'+list[i]['name']+'</a></td>';
                } else {
                    body += '<td>'+'<span class="ico ico-file"></span>'+'<a class="text">'+list[i]['name']+'</a></td>';
                }

                if (list[i]['is_dir']){
                    body += '<td style="text-align:right;"><a class="text">-</a></td>';
                } else {
                    body += '<td style="text-align:right;"><a class="text">'+toSize(list[i]['size'])+'</a></td>';
                }
                
                body += '<td style="text-align:right;"><a class="text">'+isoTimeFormat(list[i]['modified'])+'</a></td>';
                body += '</tr>';
            }

        } else {
            body += '<tr><td colspan="3" style="text-align: center;">'+data['msg']+'</td></tr>';
        }

        $('#list tbody').html(body);
        $('#list tr').click(function(){
            var fname = $(this).attr("file");
            if (fname){
                window.history.pushState({}, '', fname);
                renderInfo(fname);
            }
        });
    });
}

renderInfo(location.pathname);
$(window).on('popstate', function() {
    renderInfo(location.pathname);
});


///
});
</script>

{{template "front_footer.tmpl" .}}