{{template "front_header.tmpl" .}}



<div class="layui-container">
    <div class="header">
        <h2 style="padding: 20px;text-align: center;">NDM存储管理</h2>
    </div>
</div>

<div class="layui-container" style="width:70%;min-width: 500px;">
    <div id="list" class="bgw divtable"></div>
</div>


<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <table id="list2" lay-filter="ndm-list"></table>
        </div>
    </div>
</div>

<script>
layui.use(['layer','form','element','jquery','table','laydate','util'],function(){
///
var $ = layui.$;
var layer = layui.layer;
var form = layui.form;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;


// layui.table.set({
//      request: {
//      headers: {
//        'X-Table-Request': 'true11'
//      },
//      pageName: 'page',
//      limitName: 'size'
//      },
//  response: {
//      statusName: 'code',
//      statusCode: 200,
//      msgName: 'message',
//      countName: 'total',
//      dataName: 'data'
//  }
// });

var args = {
    page: 1,
    password : "",
    path : location.pathname,
    per_page: 0,
    refresh: false,
}

$.post('{{.api_path}}/fs/list', args, function(data){

    var body = '';
    if (data.code==200){
        var list = data['data']['content'];

        for (var i = 0; i < list.length; i++) {
            body += '<tr style="border: 0 none;" file="'+location.pathname+"/"+list[i]['name']+'" >';
            body += '<td>'+'<span class="ico ico-folder"></span>'+'<a class="text">'+list[i]['name']+'</a></td>';

            if (list[i]['is_dir']){
                body += '<td style="text-align:right;"><a class="text">-</a></td>';
            } else {
                body += '<td style="text-align:right;"><a class="text">'+list[i]['size']+'</a></td>';
            }
            
            body += '<td style="text-align:right;"><a class="text">'+isoTimeFormat(list[i]['modified'])+'</a></td>';
            body += '</tr>';
        }

    } else {

    }

    var content = '<div class="divtable">\
                    <table class="table table-hover" width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0 none;">\
                    <thead>\
                        <tr>\
                            <td style="width:50%;">名称</td>\
                            <td style="width:20%;text-align:right;">大小</td>\
                            <td style="width:30%;text-align:right;">时间</td>\
                        </tr>\
                    </thead>\
                    <tbody>'+body+'<tbody>\
                    </table>\
                </div>';
    $('#list').html(content);


    $('#list tr').click(function(){
        // console.log($(this));
        var fname = $(this).attr("file");
        // console.log(fname);
        location.href = fname;

    });
});

// table.render({
//  headers: {
//       'Authorization': localStorage.getItem('token')
//     },
//     elem: '#list2',
//     url: '{{.api_path}}/fs/list',
//     request: {
//         pageName: 'page',
//         limitName: 'size'
//     },
//     defaultToolbar: [],
//     title: '数据表',
//     method: 'post',
//     cols: [[
//         {field:'mount_path', title:'名称'},
//         {field:'order', title:'序号'},
//         {field:'remark', title:'备注', width:180},
//     ]],
//     page: true,
//     where:[],
// });

// // refresh
// $("#refresh").click(function(){
//     table.reload("list");
// });


// 添加

///
});
</script>



{{template "front_footer.tmpl" .}}