<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NDM - 登入</title>
    <link rel="shortcut icon" href="/static/image/logo.svg?v={{.version}}" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/login.css?v={{.version}}">
    <link rel="stylesheet" href="/static/layui/css/layui.css?v={{.version}}">
</head>
<body>

<div class="login">
    <div class="login-box login-header">
        <h2>NDM网络存储管理</h2>
    </div>

    <div class="layui-form login-container" lay-filter="login" action="login">
        <div class="layui-form-item">
            <div class="layui-input-wrap">
                <div class="layui-input-prefix">
                  <i class="layui-icon layui-icon-username"></i>
                </div>
                <!-- lay-verify="required" -->
                <input type="text" name="username" value="" placeholder="用户名" lay-reqtext="请填写用户名" autocomplete="off" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-wrap">
                <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                </div>
                <!-- lay-verify="required" -->
                <input type="password" name="password" value="" placeholder="密   码" lay-reqtext="请填写密码" autocomplete="off" class="layui-input" lay-affix="eye">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="ndm-login">登录</button>
        </div>
    </div>

    <div class="layui-trans login-footer"><p>© 2025 - ∞</p></div>
</div>

<!-- body 末尾处引入 layui -->
<script src="/static/layui/layui.js?v={{.version}}"></script>
<script>
layui.use(function(){
///
var $ = layui.$
,form = layui.form;

console.log("$",$);

form.on('submit(ndm-login)', function(d){
    console.log(d);
    var _form = $(this).parents('form');
    console.log(_form);
    console.log(_form.serialize());
    console.log(d.field);
    console.log(JSON.stringify(d.field));
    // $.post(_form.attr('action'), JSON.stringify(d.field), function(res){
    //     console.log(res);
    // },'json');

    $.ajax({
        type: "POST",
        headers: {'Content-Type': 'application/json'},
        url: _form.attr('action'),
        data: JSON.stringify(d.field),
        dataType:'json',
        success: function(res) {
            console.log(res);
            // layer.msg(res.message, {icon: res.code>0?1:2});
        },
        error:function(e){
            console.log('ajax请求异常，异常信息如下：', e);
        }
    });
    return false;
});

///
});
</script>
</body>
</html>
