{{template "header.tmpl" .}}

<!-- 内容页 -->
<div class="main-content">
    <div class="container-fluid" style="padding-top: 4px;">
        <div class="pos-box bgw mtb5">
            <div class="position f14 c9 pull-left">
                <i class="layui-icon layui-icon-home ndm-home"></i>

                <div class="ndm-breadcrumb">
                    <a class="plr10 c4" href="{{.admin_path}}">首页</a>/<span class="plr10 c4">日志管理</span>
                </div>
            </div>
        </div>

        <div class="bgw divtable" style="padding:8px;font-size:12px;">
            <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="layui-inline mr0">
                    <button id="clear" class="layui-btn layui-btn-sm layui-bg-blue" onclick="Admin.truncate(this, '{{.api_path}}/logs/truncate')" lay-event="clear">清空</button>
                </div>
                <div class="layui-inline mr0">
                    <button id="refresh" class="layui-btn layui-btn-sm layui-bg-purple" lay-event="refresh">刷新</button>
                </div>

                <div class="layui-inline select100 mr0">
                    <div class="layui-input-inline h30">
                        <select name="driver">
                            <option value="">所有日志</option>
                            <option value="notice">提示</option>
                            <option value="warning">警告</option>
                            <option value="error">严重</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline mr0">
                    <button class="layui-btn layui-btn-sm" id="table-sreach" data-id="list" lay-submit lay-filter="table-sreach">
                        <i class="layui-icon">&#xe615;</i>搜索
                    </button>
                </div>
            </div>
            <div id="list" class="bgw divtable"></div>
        </div>

    </div>
</div>

<script>
layui.use(function(){
///
var layer = layui.layer;
var form = layui.form;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;

table.render({
    elem: '#list',
    url: '{{.api_path}}/logs/list',
    request: {
        pageName: 'page',
        limitName: 'size'
    },
    defaultToolbar: [],
    title: '数据表',
    cols: [[
        {field:'id', title:'ID', width:70},
        {field:'type', title:'类型', width:100},
        {field:'content', title:'内容'},
        {title:'操作', toolbar: '#cmdTpl', fixed: 'right', width:70}
    ]],
    page: true,
    where:[],
    done: function(res){
        console.log('done', res);
    }

});

// refresh
$("#refresh").click(function(){
    table.reload("list");
});


// 添加

///
});
</script>


<script type="text/html" id="cmdTpl">
    <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="Admin.del(this, '{{.api_path}}/logs/delete?id={@d.id@}')">删除</a>
</script>


{{template "footer.tmpl" .}}