{{template "header.tmpl" .}}


<!-- 内容页 -->
<div class="main-content">
    <div class="container-fluid" style="padding-top: 4px;">
        <div class="pos-box bgw mtb5">
            <div class="position f14 c9 pull-left">
                <i class="layui-icon layui-icon-home ndm-home"></i>

                <div class="ndm-breadcrumb">
                    <a class="plr10 c4" href="{{.admin_path}}">首页</a>/<span class="plr10 c4">设置</span>
                </div>
            </div>
        </div>

        <div class="tab-box bgw mtb5">
            <div class="tab">
                <div class="tab-item {{if or (eq .setting_page "") (eq .setting_page "index")}}active{{end}}"><a href="{{.admin_path}}/setting/index">全局</a></div>
                <div class="tab-item {{if eq .setting_page "state"}}active{{end}}" ><a href="{{.admin_path}}/setting/state">运行状态</a></div>
            </div>
        </div>

        <div class="bgw" style="padding:8px;font-size:12px;">
        {{if or (eq .setting_page "") (eq .setting_page "index") }}
            {{template "setting_index.tmpl" .}}
        {{else if eq .setting_page "state"}}
            {{template "setting_state.tmpl" .}}
        {{end}}
        </div>
    </div>
</div>

<!-- body 末尾处引入 layui -->
<script>
layui.use(function(){
    var layer = layui.layer;
    var form = layui.form;
    var laydate = layui.laydate;
    var util = layui.util;

    layer.msg('Hello World', {icon: 6});
});
</script>

{{template "footer.tmpl" .}}