{{template "header.tmpl" .}}


<!-- 内容页 -->
<div class="main-content">
    <div class="container-fluid" style="padding-top: 4px;">
        <div class="pos-box bgw mtb5">
            <div class="position f14 c9 pull-left">
                <i class="layui-icon layui-icon-home ndm-home"></i>

                <div class="ndm-breadcrumb">
                    <a class="plr10 c4" href="{{.admin_path}}">首页</a>/<span class="plr10 c4">设置</span>
                </div>
            </div>
        </div>

        <div class="tab-box bgw mtb5">
            <div class="tab">
                <div class="tab-item {{if or (eq .setting_page "") (eq .setting_page "index")}}active{{end}}" go_url="{{.admin_path}}/setting/index">全局</div>
                <div class="tab-item {{if eq .setting_page "state"}}active{{end}}" go_url="{{.admin_path}}/setting/state">系统状态</div>
            </div>
        </div>

        <div class="bgw" style="padding:8px;font-size:12px;">
        {{if or (eq .setting_page "") (eq .setting_page "index") }}
            {{template "setting_index.tmpl" .}}
        {{else if eq .setting_page "state"}}
            {{template "setting_state.tmpl" .}}
        {{end}}
        </div>
    </div>
</div>

<script>
layui.use(['layer','form','element','jquery','table','laydate','util'],function() {
///
var $ = layui.$;
var layer = layui.layer;
var form = layui.form;
var element = layui.element;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;


$(".tab-item").click(function(){
    var go_url = $(this).attr('go_url');
    if (go_url !== ''){
        location.href = go_url;
    }
});

///
});
</script>

{{template "footer.tmpl" .}}