{{template "header.tmpl" .}}

<!-- 内容页 -->
<div class="main-content">
    <div class="container-fluid" style="padding-top: 4px;">
        <div class="pos-box bgw mtb5">
            <div class="position f14 c9 pull-left">
                <i class="layui-icon layui-icon-home ndm-home"></i>

                <div class="ndm-breadcrumb">
                    <a class="plr10 c4" href="{{.admin_path}}">首页</a>/<span class="plr10 c4">存储管理</span>
                </div>
            </div>
        </div>

        <div class="bgw divtable" style="padding:8px;font-size:12px;">
            <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="layui-inline mr0">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="Admin.open('添加','{{.admin_path}}/storage/create',800,480)">添加</button>
                </div>

                <div class="layui-inline mr0">
                    <button id="refresh" class="layui-btn layui-btn-sm layui-bg-purple" lay-event="refresh">刷新</button>
                </div>

                <div class="layui-inline select100 mr0">
                    <div class="layui-input-inline h30">
                        <select name="driver">
                            <option value="">所有存储</option>
                            <option value="local">本机存储</option>
                            <option value="s3">对象存储</option>
                            <option value="ftp">FTP存储</option>
                            <option value="sftp">SFTP存储</option>
                        </select>
                    </div>
                </div>

                <!--                 
                <div class="layui-inline select100 mr0">
                    <div class="layui-input-inline h30">
                        <select name="zd">
                            <option value="">选择</option>
                        </select>
                    </div>
                </div>           

                <div class="layui-inline mr0">
                    <div class="layui-input-inline mr0">
                        <input type="text" name="key" placeholder="请输入关键字" autocomplete="off" class="layui-input h30" value="">
                    </div>
                </div> 
                -->

                <div class="layui-inline mr0">
                    <button class="layui-btn layui-btn-sm" id="table-sreach" data-id="list" lay-submit lay-filter="table-sreach">
                        <i class="layui-icon">&#xe615;</i>搜索
                    </button>
                </div>
            </div>
            <div id="list" class="bgw divtable"></div>
        </div>

    </div>
</div>

<script>
layui.use(function(){
///
var layer = layui.layer;
var form = layui.form;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;

table.render({
    elem: '#list',
    url: '{{.api_path}}/storage/list',
    request: {
        pageName: 'page',
        limitName: 'size'
    },
    defaultToolbar: [],
    title: '数据表',
    cols: [[
        {field:'mount_path', title:'挂载路径', width:200},
        {field:'driver', title:'驱动', width:100},
        {field:'order', title:'序号', width:100},
        {field:'remark', title:'备注'},
        {field:'status', title:'状态',width:70},
        {title:'模式', toolbar: '#modeTpl',width:200},
        {title:'操作', toolbar: '#cmdTpl', fixed: 'right', width:180}
    ]],
    page: true,
    where:[],
    parseData: function(res){
        res.data.forEach(function(item){
            item.addition = JSON.parse(item.addition);
        });
        return {
            "code": res.code,
            "msg": res.msg,
            "count": res.count,
            "data": res.data
        };
    },
    done: function(res){
        // console.log('done', res);
    }

});

// refresh
$("#refresh").click(function(){
    table.reload("list");
});

function task_create(table_data){
    var args = {
        "mount_path": table_data.data['mount_path'],
        "cron":"0 0 * * 1",
    }

    var loader = layer.load();
    $.ajax({
        type: "POST",
        headers: {'Content-Type': 'application/json'},
        url: '{{.api_path}}/tasks/create',
        data: JSON.stringify(args),
        dataType: 'json',
        success: function(data) {
            layer.close(loader);
            if (data.code != 200 ){
                layer.msg(data.msg, {icon: 2});
            } else if (data.code == 200){
                layer.msg("创建成功!", {icon: 1});
            } else {
                layer.msg("访问异常!", {icon: 2});
            }
        },
        error:function(e){
            layer.close(loader);
            layer.msg(e, {icon: 2});
        }
    });
}


function task_done(table_data){
    var args = {
        "mount_path": table_data.data['mount_path'],
    }
    var loader = layer.load();
    $.ajax({
        type: "POST",
        headers: {'Content-Type': 'application/json'},
        url: '{{.api_path}}/tasks/done',
        data: JSON.stringify(args),
        dataType: 'json',
        success: function(data) {
            layer.close(loader);
            if (data.code != 200 ){
                layer.msg(data.msg, {icon: 2});
            } else if (data.code == 200){
                layer.msg("执行成功!", {icon: 1});
            } else {
                layer.msg("访问异常!", {icon: 2});
            }
        },
        error:function(e){
            layer.close(loader);
            layer.msg(e, {icon: 2});
        }
    });
}


table.on('tool(list)', function(obj){
    switch(obj.event){
        case 'task_create':
            task_create(obj);
            break;
        case 'task_done':
            task_done(obj);
            break;
    };
});

///
});
</script>

<script type="text/html" id="disabledTpl">
    {@# if(d.disabled){ @}
    <button type="button" class="layui-btn layui-btn-xs layui-bg-red">否</button>
    {@# }else{ @}
    <button type="button" class="layui-btn layui-btn-xs layui-btn-normal">是</button>
    {@# } @}
</script>

<script type="text/html" id="modeTpl">
    {@# if( isSupportEnableSync(d) ){ @}
    <a class="layui-btn layui-btn-xs">同步</a>
    <a class="layui-btn layui-btn-xs" lay-event="task_create">创建</a>
    <a class="layui-btn layui-btn-xs" lay-event="task_done">执行</a>
    {@# } else if( isSupportEnableBackup(d) ){ @}
    <a class="layui-btn layui-btn-xs">备份</a>
    <a class="layui-btn layui-btn-xs" lay-event="task_create">创建</a>
    <a class="layui-btn layui-btn-xs" lay-event="task_done">执行</a>
    {@# } else { @}
    <a class="layui-btn layui-btn-xs">无</a>
    {@# } @}
</script>

<script type="text/html" id="cmdTpl">
    <a class="layui-btn layui-btn-xs" onclick="Admin.open('编辑','{{.admin_path}}/storage/edit?id={@d.id@}',800,480)">编辑</a>
    {@# if(d.disabled == 1){ @}
    <a class="layui-btn layui-btn-xs layui-btn-danger" onclick="Admin.trigger(this,'{{.api_path}}/storage/trigger_disable','{@d.id@}')">已禁用</a>
    {@# }else{ @}
    <a class="layui-btn layui-btn-xs" onclick="Admin.trigger(this,'{{.api_path}}/storage/trigger_disable','{@d.id@}')">已启用</a>
    {@# } @}
    <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="Admin.del(this, '{{.api_path}}/storage/delete?id={@d.id@}')">删除</a>
</script>


{{template "footer.tmpl" .}}