{{template "header.tmpl" .}}

<!-- 内容页 -->
<div class="main-content">
    <div class="container-fluid" style="padding-top: 4px;">
        <div class="pos-box bgw mtb5">
            <div class="position f14 c9 pull-left">
                <i class="layui-icon layui-icon-home ndm-home"></i>

                <div class="ndm-breadcrumb">
                    <a class="plr10 c4" href="{{.admin_path}}">首页</a>/<span class="plr10 c4">存储管理</span>
                </div>
            </div>
        </div>

        <div class="bgw divtable" style="padding:8px;font-size:12px;">
            <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="layui-inline mr0">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="Admin.open('添加','{{.admin_path}}/storage/edit?id=0',800,480)">添加</button>
                </div>

                <div class="layui-inline mr0">
                    <button id="refresh" class="layui-btn layui-btn-sm layui-bg-purple" lay-event="refresh">刷新</button>
                </div>

                <div class="layui-inline select100 mr0">
                    <div class="layui-input-inline h30">
                        <select name="zd">
                            <option value="name">名称</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline mr0">
                    <div class="layui-input-inline mr0">
                        <input type="text" name="key" placeholder="请输入关键字" autocomplete="off" class="layui-input h30" value="">
                    </div>
                </div>

                <div class="layui-inline mr0">
                    <button class="layui-btn layui-btn-sm" id="table-sreach" data-id="list" lay-submit lay-filter="table-sreach">
                        <i class="layui-icon">&#xe615;</i>搜索
                    </button>
                </div>
            </div>
            <div id="list" class="bgw divtable"></div>
        </div>

    </div>
</div>

<script>
layui.use(function(){
///
var layer = layui.layer;
var form = layui.form;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;

table.render({
    elem: '#list',
    url: '{{.api_path}}/storage/list',
    request: {
        pageName: 'page',
        limitName: 'size'
    },
    defaultToolbar: [],
    title: '数据表',
    cols: [[
        {field:'mount_path', title:'挂载路径', width:200},
        {field:'driver', title:'驱动', width:180},
        {field:'order', title:'序号', width:180},
        {field:'remark', title:'备注', width:180},
        {field:'disabled', title:'状态'},
        {title:'操作', toolbar: '#cmdTpl', fixed: 'right', width:167}
    ]],
    page: true,
    where:[],
});

// refresh
$("#refresh").click(function(){
    table.reload("list");
});

///
});
</script>



<script type="text/html" id="cmdTpl">
    <a class="layui-btn layui-btn-xs" onclick="Admin.open('编辑','{{.admin_path}}/storage/edit?id={@d.id@}',800,480)">编辑</a>
    <a class="layui-btn layui-btn-xs" onclick="Admin.open('编辑','{{.admin_path}}/storage/edit?id={@d.id@}',800,480)">禁用</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="Admin.del(this, '{{.admin_path}}/storage/delete?id={@d.id@}')">删除</a>
</script>


{{template "footer.tmpl" .}}