{{template "header.tmpl" .}}

<!-- 内容页 -->
<div class="main-content">
    <div class="container-fluid" style="padding-top: 4px;">
        <div class="pos-box bgw mtb5">
            <div class="position f14 c9 pull-left">
                <i class="layui-icon layui-icon-home ndm-home"></i>

                <div class="ndm-breadcrumb">
                    <a class="plr10 c4" href="{{.admin_path}}">首页</a>/<span class="plr10 c4">用户管理</span>
                </div>
            </div>
        </div>

        <div class="bgw divtable" style="padding:8px;font-size:12px;">
            <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="layui-inline mr0">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="Admin.open('添加','{{.admin_path}}/user/edit?id=0',800,440)">添加</button>
                </div>

                <div class="layui-inline mr0">
                    <button id="refresh" class="layui-btn layui-btn-sm layui-bg-purple" lay-event="refresh">刷新</button>
                </div>
            </div>
            <div id="list" class="bgw divtable"></div>
        </div>

    </div>
</div>

<script>
layui.use(function(){
///
var layer = layui.layer;
var form = layui.form;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;

table.render({
    elem: '#list',
    url: '{{.api_path}}/user/list',
    request: {
        pageName: 'page',
        limitName: 'size'
    },
    defaultToolbar: [],
    title: '数据表',
    cols: [[
        {field:'username', title:'用户名', width:150},
        {field:'base_path', title:'基本路径', width:120},
        {field:'role', title:'角色', width:180, toolbar:'#roleTpl'},
        {field:'permission', title:'权限', toolbar: '#permTpl'},
        {field:'disabled', title:'已启用', toolbar: '#disabledTpl', width:75},
        {title:'操作', toolbar: '#cmdTpl', fixed: 'right', width:216}
    ]],
    page: true,
    // toolbar: '#nav',
    where:[],
    done: function(res, curr, count, origin){
        var index;
        $('.tips').mouseenter(function(){
            var tps = $(this).attr('placeholder');
            if(tps != ''){
                index = layer.tips(tps, this, {
                    tips: [1], // tips 方向和颜色
                    time: 0 // 不自动关闭
                });
            }
        });

        $('.tips').mouseleave(function(){
            layer.close(index);
        });
    },
});


function user_cancel_2fa(_url,_id) {
    layer.confirm('确定要取消两步验证吗?', { title:'提示', btn: ['确定', '取消'],shade:0.001}, function(index) {
        $.post(_url, { 'id':_id }, function(res) {
            showMsg(res.msg, function(){
                if(res.code > -1){
                    table.reload();
                }
            },{icon: res.code > -1 ? 1 : 2});
        },'json');
    }, function(index) {
        layer.close(index);
    });
}

// refresh
$("#refresh").click(function(){
    table.reload("list");
});

// table.on('toolbar(list)', function(obj){
//     switch(obj.event){
//         case 'refresh':table.reload("list");break;
//     };
// });

table.on('tool(list)', function(obj){
    switch(obj.event){
        case 'cancel_2fa':
            user_cancel_2fa('{{.api_path}}/user/cancel_2fa?id='+obj.data.id,obj.data.id);
            break;
    };
});

///
});
</script>

<script type="text/html" id="roleTpl">
    {@# if(d.role==2){ @}
    <button type="button" class="layui-btn layui-btn-xs layui-bg-red">ADMIN</button>
    {@# }else if(d.role==1) { @}
    <button type="button" class="layui-btn layui-btn-xs layui-btn-normal">GUEST</button>
    {@# }else{ @}
    <button type="button" class="layui-btn layui-btn-xs layui-btn-normal">GENERAL</button>
    {@# } @}
</script>

<script type="text/html" id="permTpl">
    {@# if( d.permission&1 == 1 ){ @}
    <button type="button" class="tips layui-bg-blue" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="可以看到隐藏"></button>
    {@# }else{ @}
    <button type="button" class="tips layui-bg-red" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="可以看到隐藏"></button>
    {@# } @}

    {@# if( d.permission>>1&1 == 1 ){ @}
    <button type="button" class="tips layui-bg-blue" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="无需密码访问"></button>
    {@# }else{ @}
    <button type="button" class="tips layui-bg-red" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="无需密码访问"></button>
    {@# } @}

    {@# if( d.permission>>2&1 == 1 ){ @}
    <button type="button" class="tips layui-bg-blue" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="添加离线下载任务"></button>
    {@# }else{ @}
    <button type="button" class="tips layui-bg-red" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="添加离线下载任务"></button>
    {@# } @}

    {@# if( d.permission>>3&1 == 1 ){ @}
    <button type="button" class="tips layui-bg-blue" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="创建目录或上传"></button>
    {@# }else{ @}
    <button type="button" class="tips layui-bg-red" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="创建目录或上传"></button>
    {@# } @}

    {@# if( d.permission>>4&1 == 1 ){ @}
    <button type="button" class="tips layui-bg-blue" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="重命名"></button>
    {@# }else{ @}
    <button type="button" class="tips layui-bg-red" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="重命名"></button>
    {@# } @}

    {@# if( d.permission>>5&1 == 1 ){ @}
    <button type="button" class="tips layui-bg-blue" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="移动"></button>
    {@# }else{ @}
    <button type="button" class="tips layui-bg-red" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="移动"></button>
    {@# } @}

    {@# if( d.permission>>6&1 == 1 ){ @}
    <button type="button" class="tips layui-bg-blue" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="复制"></button>
    {@# }else{ @}
    <button type="button" class="tips layui-bg-red" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="复制"></button>
    {@# } @}

    {@# if( d.permission>>7&1 == 1 ){ @}
    <button type="button" class="tips layui-bg-blue" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="删除"></button>
    {@# }else{ @}
    <button type="button" class="tips layui-bg-red" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="删除"></button>
    {@# } @}

    {@# if( d.permission>>8&1 == 1 ){ @}
    <button type="button" class="tips layui-bg-blue" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="Webdav读取"></button>
    {@# }else{ @}
    <button type="button" class="tips layui-bg-red" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="Webdav读取"></button>
    {@# } @}

    {@# if( d.permission>>9&1 == 1 ){ @}
    <button type="button" class="tips layui-bg-blue" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="Webdav管理"></button>
    {@# }else{ @}
    <button type="button" class="tips layui-bg-red" style="width:8px;height: 8px; border-radius: 4px;border-width: 0px;" placeholder="Webdav管理"></button>
    {@# } @}
    
</script>

<script type="text/html" id="disabledTpl">
    {@# if(d.disabled){ @}
    <button type="button" class="layui-btn layui-btn-xs layui-bg-red">否</button>
    {@# }else{ @}
    <button type="button" class="layui-btn layui-btn-xs layui-btn-normal">是</button>
    {@# } @}
</script>

<script type="text/html" id="cmdTpl">
    <a class="layui-btn layui-btn-xs" onclick="Admin.open('编辑','{{.admin_path}}/user/edit?id={@d.id@}',800,440)">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="cancel_2fa">取消两步验证</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="Admin.del(this, '{{.api_path}}/user/delete?id={@d.id@}')">删除</a>
</script>

{{template "footer.tmpl" .}}