    <!-- //// -->
    </div>
<!-- //// -->
</div>

<script type="text/javascript">
    
   

layui.use(function(){
///
var $ = layui.$
,form = layui.form;

$("#ndm_exit").click(function() {
    layer.confirm('您真的要退出面板吗?', {icon:3,closeBtn: 1}, function() {
        $.removeCookie('token',{ path: '/'});
        window.location.href = "{{.admin_path}}/login";
    });
    return false;
});

///
});
</script>
</body>
</html>