<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{.title}}</title>
    <link rel="shortcut icon" href="/static/image/logo.svg?v={{.version}}" />
    <link rel="stylesheet" href="/static/layui/css/layui.css?v={{.version}}">
    <link rel="stylesheet" href="/static/css/ndm.css?v={{.version}}">
    <script src="/static/layui/layui.js?v={{.version}}"></script>
</head>
<body>