{{template "header_common.tmpl" .}}
<body>
    
<div id="ndm">
    <div class="layui-layout-admin layui-layout">
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree layui-nav-side">
                    <li class="layui-nav-item layui-nav-itemed">
                        <div class="ndm-logo">
                            <div class="logo_image">
                                <img style="height: 24px;" src="/static/image/logo.svg"/>
                            </div>

                            <div class="logo_text">
                                <span  style="line-height: 24px;">NDM存储管理</span>
                            </div>
                        </div>
                    </li>

                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="{{.admin_path}}">
                            <i class="layui-icon layui-icon-senior"></i>
                            <cite>控制台</cite>
                        </a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="{{.admin_path}}/storage">
                            <i class="layui-icon layui-icon-firefox"></i>
                            <cite>存储</cite>
                        </a>
                    </li>
                        
                    <!-- <li class="layui-nav-item">
                        <a href="{{.admin_path}}/plugins">
                            <i class="layui-icon layui-icon-app"></i>
                            <cite>插件</cite>
                        </a>
                    </li>

                    <li class="layui-nav-item">
                         <a href="{{.admin_path}}/task">
                            <i class="layui-icon layui-icon-engine"></i>
                            <cite>任务</cite>
                        </a>
                    </li> -->

                    <li class="layui-nav-item">
                         <a href="{{.admin_path}}/user">
                            <i class="layui-icon layui-icon-username"></i>
                            <cite>用户</cite>
                        </a>
                    </li>
                    
                    <li class="layui-nav-item">
                         <a href="{{.admin_path}}/logs">
                            <i class="layui-icon layui-icon-edge"></i>
                            <cite>日志</cite>
                        </a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="{{.admin_path}}/setting">
                            <i class="layui-icon layui-icon-set-fill"></i>
                            <cite>设置</cite>
                        </a>
                    </li>

                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="/">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                        </a>
                    </li>

                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="/" id="ndm_exit">
                            <i class="layui-icon layui-icon-logout"></i>
                            <cite>退出</cite>
                        </a>
                    </li>
                </ul>
            </div>
        </div>