<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{.title}}</title>
    <link rel="shortcut icon" href="/static/image/logo.svg?v={{.version}}" />
    <link rel="stylesheet" href="/static/layui/css/layui.css?v={{.version}}">
    <link rel="stylesheet" href="/static/css/ndm.css?v={{.version}}">
    <script src="/static/layui/layui.js?v={{.version}}"></script>
    <script src="/static/js/jquery-1.10.2.min.js?v={{.version}}"></script>
    <script src="/static/js/jquery.cookie-1.4.1.min.js?v={{.version}}"></script>
    <script src="/static/js/ndm.js?v={{.version}}"></script>
    <script>
    layui.use(['jquery'],function() {
        var $ = layui.$;

        $(window).ready(function(){
            var thisPath = window.location.pathname.trim()+window.location.search;
            var path = '{{.admin_path}}';
            var nav_list = ['storage', 'user', 'plugins', 'task', 'logs', 'setting'];

            var isHasMenu = false;
            for (var n in nav_list) {
                var newpath = path+'/'+nav_list[n];
                if (new RegExp(`^${newpath}`).test(thisPath)) {
                    isHasMenu = true;
                    $('.navmenu_'+nav_list[n]).addClass('layui-nav-itemed').css('background-color','#2c3138');
                    break;
                }
            }

            if (!isHasMenu){
                $('.navmenu_index').addClass('layui-nav-itemed').css('background-color','#2c3138');
            }
        });
    });
    </script>
</head>




