<form class="layui-form layui-form-pane">

    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="150">
        </colgroup>
        <tbody>
            <tr>
                <td>服务运行时间</td>
                <td>{{.sys_state.Uptime}}</td>
            </tr>
            <tr>
                <td>当前 Goroutines 数量</td>
                <td>{{.sys_state.NumGoroutine}}</td>
            </tr>
            <tr>
                <td>内存相关</td>
                <td>值</td>
            </tr>
            <tr>
                <td>当前内存使用量</td>
                <td>{{.sys_state.MemAllocated}}</td>
            </tr>
            <tr>
                <td>所有被分配的内存</td>
                <td>{{.sys_state.MemTotal}}</td>
            </tr>
            <tr>
                <td>内存占用量</td>
                <td>{{.sys_state.MemSys}}</td>
            </tr>
            <tr>
                <td>指针查找次数</td>
                <td>{{.sys_state.Lookups}}</td>
            </tr>

            <tr>
                <td>Heap内存相关</td>
                <td>值</td>
            </tr>

            <tr>
                <td>当前 Heap 内存使用量</td>
                <td>{{.sys_state.HeapAlloc}}</td>
            </tr>

            <tr>
                <td>Heap 内存占用量</td>
                <td>{{.sys_state.HeapSys}}</td>
            </tr>

            <tr>
                <td>Heap 内存空闲量</td>
                <td>{{.sys_state.HeapIdle}}</td>
            </tr>

            <tr>
                <td>正在使用的 Heap 内存</td>
                <td>{{.sys_state.HeapInuse}}</td>
            </tr>

            <tr>
                <td>被释放的 Heap 内存</td>
                <td>{{.sys_state.HeapReleased}}</td>
            </tr>

            <tr>
                <td>Heap 对象数量</td>
                <td>{{.sys_state.HeapObjects}}</td>
            </tr>

            <tr>
                <td>Stack内存相关</td>
                <td>值</td>
            </tr>

            <tr>
                <td>启动 Stack 使用量</td>
                <td>{{.sys_state.StackInuse}}</td>
            </tr>

            <tr>
                <td>被分配的 Stack 内存</td>
                <td>{{.sys_state.StackSys}}</td>
            </tr>

            <tr>
                <td>MSpan 结构内存使用量</td>
                <td>{{.sys_state.MSpanInuse}}</td>
            </tr>

            <tr>
                <td>被分配的 MSpan 结构内存</td>
                <td>{{.sys_state.HeapSys}}</td>
            </tr>

            <tr>
                <td>MCache 结构内存使用量</td>
                <td>{{.sys_state.MCacheInuse}}</td>
            </tr>

            <tr>
                <td>被分配的 MCache 结构内存</td>
                <td>{{.sys_state.MCacheSys}}</td>
            </tr>

            <tr>
                <td>被分配的剖析哈希表内存</td>
                <td>{{.sys_state.BuckHashSys}}</td>
            </tr>

            <tr>
                <td>被分配的 GC 元数据内存</td>
                <td>{{.sys_state.GCSys}}</td>
            </tr>

            <tr>
                <td>其它被分配的系统内存</td>
                <td>{{.sys_state.OtherSys}}</td>
            </tr>

            <tr>
                <td>GC相关</td>
                <td>值</td>
            </tr>

            <tr>
                <td>下次 GC 内存回收量</td>
                <td>{{.sys_state.NextGC}}</td>
            </tr>

            <tr>
                <td>距离上次 GC 时间</td>
                <td>{{.sys_state.LastGC}}</td>
            </tr>

            <tr>
                <td>GC 暂停时间总量</td>
                <td>{{.sys_state.PauseTotalNs}}</td>
            </tr>

            <tr>
                <td>上次 GC 暂停时间</td>
                <td>{{.sys_state.PauseNs}}</td>
            </tr>

            <tr>
                <td>GC 执行次数</td>
                <td>{{.sys_state.NumGC}}</td>
            </tr>
        </tbody>
    </table>
</form>
