
<div class="footer center hcenter">
	<p>
		<a target="_blank" rel="noopener noreferrer" href="https://github.com/NdmGo/ndm">由NDM驱动</a>
		<span>|</span>
		<a href="/">管理</a>
	</p>
</div>

</body>
</html>
