<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{.title}}</title>
    <link rel="shortcut icon" href="/static/image/logo.svg?v={{.version}}" />
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css?v={{.version}}">
    <link href="/static/bootstrap-3.3.5/css/bootstrap.min.css?v={{.version}}" rel="stylesheet">
    <link rel="stylesheet" href="/static/layui/css/layui.css?v={{.version}}">
    <link rel="stylesheet" href="/static/css/ndm.css?v={{.version}}">
    <link rel="stylesheet" href="/static/css/front.css?v={{.version}}">

    <script src="/static/layui/layui.js?v={{.version}}"></script>
    <script src="/static/js/jquery-1.10.2.min.js?v={{.version}}"></script>
    <script src="/static/js/jquery-qrcode-0.18.0.min.js?v={{.version}}"></script>
    <script src="/static/js/jquery.cookie-1.4.1.min.js?v={{.version}}"></script>

    <script src="/static/codemirror/lib/codemirror.js?v={{.version}}"></script>
    <script src="/static/codemirror/addon/edit/editAll.js?v={{.version}}"></script>
    <script src="/static/codemirror/mode/modeAll.js?v={{.version}}"></script>
    <script src="/static/codemirror/addon/dialog/dialog.js?v={{.version}}"></script>
    <script src="/static/codemirror/addon/search/search.js?v={{.version}}"></script>
    <script src="/static/codemirror/addon/scroll/annotatescrollbar.js?v={{.version}}"></script>

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ndm.js?v={{.version}}"></script>
</head>
<body style="background-color: #f7f8fa;">