{{template "header_head.tmpl" .}}

<div class="layui-fluid" style="background-color: white;padding: 20px;">
    <form class="layui-form layui-form-pane" id="storage_edit" action="{{.admin_path}}/storage/edit" method="POST">

    	<div class="layui-form-item">
	    	<label class="layui-form-label">驱动</label>
	    	<div class="layui-input-block">
                <select name="driver">
                    <option value="local">本机存储</option>
                </select>
            </div>
	  	</div>

	  	<div class="layui-form-item">
	    	<label class="layui-form-label">挂载路径</label>
	    	<div class="layui-input-block">
                <input type="mount_path" name="mount_path" autocomplete="off" class="layui-input" placeholder="要挂载到的路径，它是唯一的，不能重复">
            </div>
	  	</div>

	  	<div class="layui-form-item">
	    	<label class="layui-form-label">序号</label>
	    	<div class="layui-input-block">
                <input type="number" value="0" name="order" class="layui-input" placeholder="用于排序">
            </div>
	  	</div>

        <div class="layui-form-item layui-form-text">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<textarea placeholder="" class="layui-textarea" name="remark"></textarea>
			</div>
		</div>

        <div class="layui-form-item">
            <label class="layui-form-label">WebDAV策略</label>
            <div class="layui-input-block">
                <select name="webdav_policy">
                    <option value="native_proxy">本地代理</option>
                    <option value="use_proxy_url">使用代理地址</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
			<label class="layui-form-label">下载代理URL</label>
			<div class="layui-input-block">
				<textarea placeholder="" class="layui-textarea" name="down_proxy_url"></textarea>
			</div>
		</div>

		<div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <select name="order_by">
                	<option value="">选择</option>
                    <option value="name">名称</option>
                    <option value="size">大小</option>
                    <option value="mtime">修改时间</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序方式</label>
            <div class="layui-input-block">
                <select name="order_direction">
                	<option value="">选择</option>
                    <option value="name">生序</option>
                    <option value="size">降序</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">提取文件夹</label>
            <div class="layui-input-block">
                <select name="extract_folder">
                    <option value="">选择</option>
                    <option value="front">提取到最前</option>
                    <option value="back">提取到最后</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" pane>
			<label class="layui-form-label">启用签名</label>
		    <div class="layui-input-block">
				<input type="checkbox" name="enable_sign" lay-skin="switch" lay-filter="switchTest" title="开关" checked>
		    </div>
		</div>

		<div class="layui-form-item">
	    	<label class="layui-form-label">根文件夹路径</label>
	    	<div class="layui-input-block">
                <input type="text" value="/" name="addition[root_folder_path]" class="layui-input" placeholder="">
            </div>
	  	</div>

	  	<div class="layui-form-item" pane>
			<label class="layui-form-label">缩略图</label>
		    <div class="layui-input-block">
				<input type="checkbox" name="addition[thumbnail]" lay-skin="switch" lay-filter="switchTest" title="开关" placeholder="启用缩略图">
		    </div>
		</div>

		<div class="layui-form-item">
	    	<label class="layui-form-label">缩略图缓存文件夹</label>
	    	<div class="layui-input-block">
                <input type="text" value="/" name="addition[thumb_cache_folder]" class="layui-input" placeholder="">
            </div>
	  	</div>

	  	<div class="layui-form-item">
	    	<label class="layui-form-label">缩略图并发数</label>
	    	<div class="layui-input-block">
                <input type="number" value="16" name="addition[thumb_concurrency]" class="layui-input" placeholder="同时生成缩略图的数量。这控制了可以并行生成多少缩略图。">
            </div>
	  	</div>

	  	<div class="layui-form-item" pane>
			<label class="layui-form-label">显示隐藏</label>
		    <div class="layui-input-block">
				<input type="checkbox" name="addition[show_hidden]" lay-skin="switch" lay-filter="switchTest" title="开关" placeholder="显示隐藏目录以及文件">
		    </div>
		</div>

		<div class="layui-form-item">
	    	<label class="layui-form-label">创建文件夹权限</label>
	    	<div class="layui-input-block">
                <input type="text" value="777" name="addition[mkdir_perm]" class="layui-input">
            </div>
	  	</div>

	  	<div class="layui-form-item">
	    	<label class="layui-form-label">回收站路径</label>
	    	<div class="layui-input-block">
                <input type="text" value="" name="addition[recycle_bin_path]" class="layui-input" placeholder="回收站的路径，如果空或保留“永久删除”则永久删除">
            </div>
	  	</div>

        <div class="layui-form-item" style="text-align: center;padding: 10px;">
            <input type="hidden" name="id" value=0>
            <button class="layui-btn layui-btn-sm" lay-filter="submit_storage" lay-submit>保存</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </form>
</div>

<script>
layui.use(['layer','form','element','jquery','table','laydate','util'],function() {
///
$ = layui.$;
layer = layui.layer;
form = layui.form;
element = layui.element;
table = layui.table;
laydate = layui.laydate;
util = layui.util;

function fromToJsonObj(formId){
    var strdata = $("#"+formId).serializeArray();
    var data = {};
    for(var i =0;i<strdata.length;i++){
        data[strdata[i].name] = strdata[i]['value'];
    }
    return data;
}

form.on('submit(submit_storage)', function(data){
	var index = layer.load();
	console.log(data.field);
	// console.log(JSON.stringify(data.field['addition']));

	// data.field['addition'] = JSON.stringify(data.field['addition']);

	var intarr = ['order','id'];
	for (var d in data.field) {
		if ($.inArray(d, intarr)!==-1){
			console.log('inArray', d);
			data.field[d] = parseInt(data.field[d]);
		} else if (d === 'enable_sign'){
			if (data.field[d] == 'on'){
				data.field[d] = true;
			} else {
				data.field[d] = false;
			}
		}
	}

	console.log(fromToJsonObj('storage_edit'));
	console.log(data.field);
	$.ajax({
        type: "POST",
        headers: {'Content-Type': 'application/json'},
        url: data.form.action,
        data: JSON.stringify(data.field),
        dataType: 'json',
        success: function(res) {
        	layer.close(index);
            if (res.code != 200 ){
                layer.msg(res.message, {icon: 2});
            } else if (res.code == 200){
                setTimeout(function(){
                    parent.location.reload();
                }, 2000);
            } else {
                layer.msg("访问异常!", {icon: 2});
            }
        },
        error:function(e){
        	layer.close(index);
            layer.msg(e, {icon: 2});
        }
    });
    return false;
});
///
});
</script>
</body>
</html>