<script>
layui.use(['layer','form','element','jquery','table','laydate','util'],function() {
///
var $ = layui.$;
var layer = layui.layer;
var form = layui.form;
var element = layui.element;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;

form.on('submit(submit_storage)', function(data){
	var index = layer.load();
	var intarr = ['order','id'];
	for (var d in data.field) {
		if ($.inArray(d, intarr)!==-1){
			data.field[d] = parseInt(data.field[d]);
		} else if (d === 'enable_sign'){
			data.field[d] = filterAddition('enable_sign',data.field[d]);
		} else if (d === 'cache_expiration'){
			data.field[d] = parseInt(data.field[d]);
		} else if ( d.indexOf(".") > -1){
			var t = d.split(".");
			var addition_pre = t[0];
			var name = t[1];

			if (addition_pre in data.field){
				if (name == 'show_hidden'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else if (name == 'sign_url_expire'){
					data.field[addition_pre][name] = parseInt(data.field[d]);
				} else if (name == 'enable_sync'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else if (name == 'enable_backup'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else {
					data.field[addition_pre][name] = data.field[d];
				}
			} else {
				data.field[addition_pre] = {};
				if (name == 'show_hidden'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else if (name == 'sign_url_expire'){
					data.field[addition_pre][name] = parseInt(data.field[d]);
				} else if (name == 'enable_sync'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else if (name == 'enable_backup'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else {
					data.field[addition_pre][name] = data.field[d];
				}
			}
			delete data.field[d];
		}
	}

	if (!('show_hidden' in data.field['addition'])){
		data.field['addition']['show_hidden'] = false;
	}

	if (!('sign_url_expire' in data.field['addition'])){
		data.field['sign_url_expire']['sign_url_expire'] = 4;
	}

	data.field['addition'] = JSON.stringify(data.field['addition']);
	$.ajax({
        type: "POST",
        headers: {'Content-Type': 'application/json'},
        url: data.form.action,
        data: JSON.stringify(data.field),
        dataType: 'json',
        success: function(res) {
        	layer.close(index);
            if (res.code != 200 ){
                layer.msg(res.msg, {icon: 2});
            } else if (res.code == 200){
            	showMsg(res.msg, function(){
	                parent.location.reload();
	            },{icon: 1});
            } else {
                layer.msg("访问异常!", {icon: 2});
            }
        },
        error:function(e){
        	layer.close(index);
            layer.msg(e, {icon: 2});
        }
    });
    return false;
});
///
});
</script>