{{template "header_head.tmpl" .}}

<div class="layui-fluid" style="background-color: white;padding: 20px;">
    <form class="layui-form layui-form-pane" lay-filter="storage" id="storage_edit" action="{{.api_path}}/storage/update" method="POST">

    	<div class="layui-form-item" id="driver">
	    	<label class="layui-form-label">驱动</label>
	    	<div class="layui-input-block">
                <select name="driver" lay-filter="driver">
                    <option value="s3">对象存储</option>
                </select>
            </div>
	  	</div>

		<div class="layui-form-item">
	    	<label class="layui-form-label">挂载路径</label>
	    	<div class="layui-input-block">
                <input type="mount_path" name="mount_path" value="{{if .storage}}{{.storage.MountPath}}{{end}}" autocomplete="off" class="layui-input" placeholder="要挂载到的路径，它是唯一的，不能重复">
            </div>
	  	</div>

		<div class="layui-form-item">
	    	<label class="layui-form-label">序号</label>
	    	<div class="layui-input-block">
                <input type="number" value="{{if .storage}}{{.storage.Order}}{{end}}" name="order" class="layui-input" placeholder="用于排序">
            </div>
	  	</div>

	  	<div class="layui-form-item">
	    	<label class="layui-form-label">根文件夹路径</label>
	    	<div class="layui-input-block">
                <input type="text" value="{{if .addition}}{{.addition.RootFolderPath}}{{end}}" name="addition.root_folder_path" class="layui-input" placeholder="根文件夹路径">
            </div>
	  	</div>

	  	<!-- {{.storage.Addition}} -->
	  	<div class="layui-form-item">
	    	<label class="layui-form-label">存储桶</label>
	    	<div class="layui-input-block">
                <input type="text" value="{{if .addition}}{{.addition.Bucket}}{{end}}" name="addition.bucket" class="layui-input">
            </div>
	  	</div>

	  	<div class="layui-form-item">
	    	<label class="layui-form-label">Endpoint</label>
	    	<div class="layui-input-block">
                <input type="text" value="{{if .addition}}{{.addition.Endpoint}}{{end}}" name="addition.endpoint" class="layui-input">
            </div>
	  	</div>

	  	<div class="layui-form-item">
	    	<label class="layui-form-label">地区</label>
	    	<div class="layui-input-block">
                <input type="text" value="{{if .addition}}{{.addition.Region}}{{end}}" name="addition.region" class="layui-input">
            </div>
	  	</div>

	  	<div class="layui-form-item">
	    	<label class="layui-form-label">访问密钥ID</label>
	    	<div class="layui-input-block">
                <input type="text" value="{{if .addition}}{{.addition.AccessKeyID}}{{end}}" name="addition.access_key_id" class="layui-input">
            </div>
	  	</div>

	  	<div class="layui-form-item">
	    	<label class="layui-form-label">安全访问密钥</label>
	    	<div class="layui-input-block">
                <input type="text" value="{{if .addition}}{{.addition.SecretAccessKey}}{{end}}" name="addition.secret_access_key" class="layui-input">
            </div>
	  	</div>

        <div class="layui-form-item layui-form-text">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<textarea placeholder="备注" class="layui-textarea" name="remark">{{if .storage}}{{.storage.Remark}}{{end}}</textarea>
			</div>
		</div>

        <div class="layui-form-item" style="text-align: center;padding: 10px;">
            <input type="hidden" name="id" value="{{if .storage}}{{.storage.ID}}{{end}}">
            <button class="layui-btn layui-btn-sm" lay-filter="submit_storage" lay-submit>保存</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </form>
</div>

<script>
layui.use(['layer','form','element','jquery','table','laydate','util'],function() {
///
var $ = layui.$;
var layer = layui.layer;
var form = layui.form;
var element = layui.element;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;


form.on('submit(submit_storage)', function(data){
	var index = layer.load();
	var intarr = ['order','id'];
	for (var d in data.field) {
		if ($.inArray(d, intarr)!==-1){
			data.field[d] = parseInt(data.field[d]);
		} else if (d === 'enable_sign'){
			if (data.field[d] == 'on'){
				data.field[d] = true;
			} else {
				data.field[d] = false;
			}
		} else if ( d.indexOf(".") > -1){
			var t = d.split(".");
			var name = t[0];
			var val = t[1];

			if (name in data.field){
				data.field[name][val] = data.field[d];
			} else{
				data.field[name] = {};
				data.field[name][val] = data.field[d];
			}
			delete data.field[d];
		}
	}

	data.field['addition'] = JSON.stringify(data.field['addition']);
	$.ajax({
        type: "POST",
        headers: {'Content-Type': 'application/json'},
        url: data.form.action,
        data: JSON.stringify(data.field),
        dataType: 'json',
        success: function(res) {
        	layer.close(index);
            if (res.code != 200 ){
                layer.msg(res.msg, {icon: 2});
            } else if (res.code == 200){
            	showMsg(res.msg, function(){
	                parent.location.reload();
	            },{icon: 1});
            } else {
                layer.msg("访问异常!", {icon: 2});
            }
        },
        error:function(e){
        	layer.close(index);
            layer.msg(e, {icon: 2});
        }
    });
    return false;
});
///
});
</script>
</body>
</html>