{{template "header_head.tmpl" .}}

<div class="layui-fluid" style="background-color: white;padding: 20px;">
    <form class="layui-form layui-form-pane" lay-filter="storage" id="storage_edit" action="{{.api_path}}/storage/{{if .user}}update{{else}}create{{end}}" method="POST">

    	<div class="layui-form-item" id="driver">
	    	<label class="layui-form-label">驱动</label>
	    	<div class="layui-input-block">
                <select name="driver" lay-filter="driver">
                	<option value="">选择</option>
                    <option value="local" >本机存储</option>
                    <option value="s3">对象存储</option>
                    <option value="ftp">FTP存储</option>
                </select>
            </div>
	  	</div>

	  	<div id="options">
	  		
	  	</div>

        <div class="layui-form-item" style="text-align: center;padding: 10px;">
            <!-- <input type="hidden" name="id" value="{{if .storage}}{{.storage.ID}}{{end}}"> -->
            <button class="layui-btn layui-btn-sm" lay-filter="submit_storage" lay-submit>保存</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </form>
</div>

<script>
layui.use(['layer','form','element','jquery','table','laydate','util'],function() {
///
var $ = layui.$;
var layer = layui.layer;
var form = layui.form;
var element = layui.element;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;

var options = {
	"local" : [
		{
			"tag": "input",
			"type":"text",
			"label":"挂载路径",
			"key": "mount_path",
			"placeholder":"要挂载到的路径，它是唯一的，不能重复",
			"default":"",
		},
		{
			"tag": "input",
			"type":"number",
			"label":"序号",
			"key": "order",
			"placeholder":"用于排序",
			"default":"0",
		},
		{
			"tag": "textarea",
			"label":"备注",
			"key": "remark",
			"default":"",
		},
		{
			"tag": "select",
			"label":"WebDAV策略",
			"key": "webdav_policy",
			"default":"",
			"option" :[
				{"name":"本地代理","value":"native_proxy"},
				{"name":"使用代理地址","value":"use_proxy_url"}
			]
		},
		{
			"tag": "textarea",
			"label":"下载代理URL",
			"key": "down_proxy_url",
			"default":"",
		},
		{
			"tag": "select",
			"label":"排序",
			"key": "order_by",
			"option" :[
				{"name":"名称","value":"name"},
				{"name":"大小","value":"size"},
				{"name":"修改时间","value":"mtime"}
			]
		},
		{
			"tag": "select",
			"label":"排序方式",
			"key": "order_direction",
			"option" :[
				{"name":"升序","value":"asc"},
				{"name":"降序","value":"desc"}
			]
		},
		{
			"tag": "select",
			"label":"提取文件夹",
			"key": "extract_folder",
			"option" :[
				{"name":"提取到最前","value":"front"},
				{"name":"提取到最后","value":"back"}
			]
		},
		{
			"tag": "input_switch",
			"label":"启用签名",
			"key": "enable_sign",
			"checked":false
		},
		{
			"tag": "input",
			"type":"text",
			"label":"根文件夹路径",
			"key": "addition.root_folder_path",
			"placeholder":"根文件夹路径",
			"default":"/tmp",
		},
		{
			"tag": "input_switch",
			"label":"缩略图",
			"key": "addition.thumbnail",
			"checked":false
		},
		{
			"tag": "input",
			"type":"text",
			"label":"创建文件夹权限",
			"key": "addition.mkdir_perm",
			"placeholder":"",
			"default":"777",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"回收站路径",
			"key": "addition.recycle_bin_path",
			"placeholder":"回收站的路径，如果空或保留“永久删除”则永久删除",
			"default":"",
		},
		{
			"tag": "line",
			"title":"同步设置",
		},
		{
			"tag": "input_switch",
			"label":"启用同步",
			"key": "addition.enable_sync",
			"checked":false
		},
		
	],
	"s3" : [
		{
			"tag": "input",
			"type":"text",
			"label":"挂载路径",
			"key": "mount_path",
			"placeholder":"要挂载到的路径，它是唯一的，不能重复",
			"default":"",
		},
		{
			"tag": "input",
			"type":"number",
			"label":"序号",
			"key": "order",
			"placeholder":"用于排序",
			"default":"0",
		},
		{
			"tag": "textarea",
			"label":"备注",
			"key": "remark",
			"default":"",
		},
		{
			"tag": "input",
			"type":"cache_expiration",
			"label":"缓存过期时间",
			"key": "order",
			"placeholder":"此存储的缓存过期时间(分钟)",
			"default":"30",
		},
		{
			"tag": "select",
			"label":"排序",
			"key": "order_by",
			"option" :[
				{"name":"名称","value":"name"},
				{"name":"大小","value":"size"},
				{"name":"修改时间","value":"mtime"}
			]
		},
		{
			"tag": "select",
			"label":"排序方式",
			"key": "order_direction",
			"option" :[
				{"name":"升序","value":"asc"},
				{"name":"降序","value":"desc"}
			]
		},
		{
			"tag": "select",
			"label":"提取文件夹",
			"key": "extract_folder",
			"option" :[
				{"name":"提取到最前","value":"front"},
				{"name":"提取到最后","value":"back"}
			]
		},
		{
			"tag": "input_switch",
			"label":"启用签名",
			"key": "enable_sign",
			"checked":false
		},
		{
			"tag": "input",
			"type":"text",
			"label":"根文件夹路径",
			"key": "addition.root_folder_path",
			"placeholder":"",
			"default":"/",
		},
		{
			"tag": "line",
			"title":"S3设置",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"存储桶",
			"key": "addition.bucket",
			"placeholder":"",
			"default":"",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"Endpoint",
			"key": "addition.endpoint",
			"placeholder":"",
			"default":"",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"地区",
			"key": "addition.region",
			"placeholder":"",
			"default":"auto",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"访问密钥ID",
			"key": "addition.access_key_id",
			"placeholder":"",
			"default":"",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"安全访问密钥",
			"key": "addition.secret_access_key",
			"placeholder":"",
			"default":"",
		},
		{
			"tag": "input",
			"type":"number",
			"label":"签名链接有效期",
			"key": "addition.sign_url_expire",
			"placeholder":"",
			"default":4,
		},
		{
			"tag": "line",
			"title":"备份设置",
		},
		{
			"tag": "input_switch",
			"label":"启用备份",
			"key": "addition.enable_backup",
			"checked":false
		},
		{
			"tag": "input",
			"type":"text",
			"label":"备份目录",
			"key": "addition.backup_dir",
			"placeholder":"",
			"default":"",
		},
	],
	"ftp" : [
		{
			"tag": "input",
			"type":"text",
			"label":"挂载路径",
			"key": "mount_path",
			"placeholder":"要挂载到的路径，它是唯一的，不能重复",
			"default":"",
		},
		{
			"tag": "input",
			"type":"number",
			"label":"序号",
			"key": "order",
			"placeholder":"用于排序",
			"default":"0",
		},
		{
			"tag": "textarea",
			"label":"备注",
			"key": "remark",
			"default":"",
		},
		{
			"tag": "select",
			"label":"WebDAV策略",
			"key": "webdav_policy",
			"default":"",
			"option" :[
				{"name":"本地代理","value":"native_proxy"},
				{"name":"使用代理地址","value":"use_proxy_url"}
			]
		},
		{
			"tag": "textarea",
			"label":"下载代理URL",
			"key": "down_proxy_url",
			"default":"",
		},
		{
			"tag": "select",
			"label":"排序",
			"key": "order_by",
			"option" :[
				{"name":"名称","value":"name"},
				{"name":"大小","value":"size"},
				{"name":"修改时间","value":"mtime"}
			]
		},
		{
			"tag": "select",
			"label":"排序方式",
			"key": "order_direction",
			"option" :[
				{"name":"升序","value":"asc"},
				{"name":"降序","value":"desc"}
			]
		},
		{
			"tag": "select",
			"label":"提取文件夹",
			"key": "extract_folder",
			"option" :[
				{"name":"提取到最前","value":"front"},
				{"name":"提取到最后","value":"back"}
			]
		},
		{
			"tag": "input_switch",
			"label":"启用签名",
			"key": "enable_sign",
			"checked":false
		},
		{
			"tag": "input",
			"type":"text",
			"label":"根文件夹路径",
			"key": "addition.root_folder_path",
			"placeholder":"根文件夹路径",
			"default":"/",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"地址",
			"key": "addition.address",
			"placeholder":"",
			"default":"",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"Encoding",
			"key": "addition.encoding",
			"placeholder":"",
			"default":"utf8",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"用户",
			"key": "addition.username",
			"placeholder":"",
			"default":"",
		},
		{
			"tag": "input",
			"type":"password",
			"label":"密码",
			"key": "addition.password",
			"placeholder":"",
			"default":"",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"回收站路径",
			"key": "addition.recycle_bin_path",
			"placeholder":"回收站的路径，如果空或保留“永久删除”则永久删除",
			"default":"",
		},
		{
			"tag": "line",
			"title":"本地备份设置",
		},
		{
			"tag": "input_switch",
			"label":"启动备份",
			"key": "addition.enable_sync",
			"checked":false
		},
		{
			"tag": "input",
			"type":"text",
			"label":"备份目录",
			"key": "addition.backup_dir",
			"placeholder":"",
			"default":"",
		},
	],
	"sftp" : [
		{
			"tag": "input",
			"type":"text",
			"label":"挂载路径",
			"key": "mount_path",
			"placeholder":"要挂载到的路径，它是唯一的，不能重复",
			"default":"",
		},
		{
			"tag": "input",
			"type":"number",
			"label":"序号",
			"key": "order",
			"placeholder":"用于排序",
			"default":"0",
		},
		{
			"tag": "textarea",
			"label":"备注",
			"key": "remark",
			"default":"",
		},
		{
			"tag": "select",
			"label":"WebDAV策略",
			"key": "webdav_policy",
			"default":"",
			"option" :[
				{"name":"本地代理","value":"native_proxy"},
				{"name":"使用代理地址","value":"use_proxy_url"}
			]
		},
		{
			"tag": "textarea",
			"label":"下载代理URL",
			"key": "down_proxy_url",
			"default":"",
		},
		{
			"tag": "select",
			"label":"排序",
			"key": "order_by",
			"option" :[
				{"name":"名称","value":"name"},
				{"name":"大小","value":"size"},
				{"name":"修改时间","value":"mtime"}
			]
		},
		{
			"tag": "select",
			"label":"排序方式",
			"key": "order_direction",
			"option" :[
				{"name":"升序","value":"asc"},
				{"name":"降序","value":"desc"}
			]
		},
		{
			"tag": "select",
			"label":"提取文件夹",
			"key": "extract_folder",
			"option" :[
				{"name":"提取到最前","value":"front"},
				{"name":"提取到最后","value":"back"}
			]
		},
		{
			"tag": "input_switch",
			"label":"启用签名",
			"key": "enable_sign",
			"checked":false
		},
		{
			"tag": "input",
			"type":"text",
			"label":"根文件夹路径",
			"key": "addition.root_folder_path",
			"placeholder":"根文件夹路径",
			"default":"/",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"地址",
			"key": "addition.address",
			"placeholder":"",
			"default":"",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"Encoding",
			"key": "addition.encoding",
			"placeholder":"",
			"default":"utf8",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"用户",
			"key": "addition.username",
			"placeholder":"",
			"default":"",
		},
		{
			"tag": "input",
			"type":"password",
			"label":"密码",
			"key": "addition.password",
			"placeholder":"",
			"default":"",
		},
		{
			"tag": "input",
			"type":"text",
			"label":"回收站路径",
			"key": "addition.recycle_bin_path",
			"placeholder":"回收站的路径，如果空或保留“永久删除”则永久删除",
			"default":"",
		},
		{
			"tag": "line",
			"title":"本地备份设置",
		},
		{
			"tag": "input_switch",
			"label":"启动备份",
			"key": "addition.enable_sync",
			"checked":false
		},
		{
			"tag": "input",
			"type":"text",
			"label":"备份目录",
			"key": "addition.backup_dir",
			"placeholder":"",
			"default":"",
		},
	],
};


form.on('select(driver)', function(data){

	if(data.value == ''){
		$('#options').text('');
		form.render(null, 'storage');
	} else {
		var content = Admin.renderFormItemMulti(options, data.value);
		$('#options').text('').append(content);
		form.render(null, 'storage');
	}
});


form.on('submit(submit_storage)', function(data){
	var index = layer.load();
	var intarr = ['order','id'];
	for (var d in data.field) {
		if ($.inArray(d, intarr)!==-1){
			data.field[d] = parseInt(data.field[d]);
		} else if (d === 'enable_sign'){
			data.field[d] = filterAddition('enable_sign',data.field[d]);
		} else if (d === 'cache_expiration'){
			data.field[d] = parseInt(data.field[d]);
		} else if ( d.indexOf(".") > -1){
			var t = d.split(".");
			var addition_pre = t[0];
			var val = t[1];

			if (addition_pre in data.field){
				if (name == 'show_hidden'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else if (name == 'sign_url_expire'){
					data.field[addition_pre][name] = parseInt(data.field[d]);
				} else if (name == 'enable_backup'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else if (name == 'enable_sync'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else {
					data.field[addition_pre][name] = data.field[d];
				}
			} else {
				data.field[addition_pre] = {};
				if (name == 'show_hidden'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else if (name == 'sign_url_expire'){
					data.field[addition_pre][name] = parseInt(data.field[d]);
				} else if (name == 'enable_backup'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else if (name == 'enable_sync'){
					data.field[addition_pre][name] = filterAddition(name,data.field[d]);
				} else {
					data.field[addition_pre][name] = data.field[d];
				}
			}
			delete data.field[d];
		}
	}

	if (!('show_hidden' in data.field['addition'])){
		data.field['addition']['show_hidden'] = false;
	}

	data.field['addition'] = JSON.stringify(data.field['addition']);
	$.ajax({
        type: "POST",
        headers: {'Content-Type': 'application/json'},
        url: data.form.action,
        data: JSON.stringify(data.field),
        dataType: 'json',
        success: function(res) {
        	layer.close(index);
            if (res.code != 200 ){
                layer.msg(res.msg, {icon: 2});
            } else if (res.code == 200){
                setTimeout(function(){
                    parent.location.reload();
                }, 5000);
            } else {
                layer.msg("访问异常!", {icon: 2});
            }
        },
        error:function(e){
        	layer.close(index);
            layer.msg(e, {icon: 2});
        }
    });
    return false;
});
///
});
</script>
</body>
</html>