{{template "header_head.tmpl" .}}

<!-- {{.}} -->

<div class="layui-fluid" style="background-color: white;padding: 20px;">
    <form class="layui-form layui-form-pane" id="user_edit" action="{{.api_path}}/user/create" method="POST">


        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" value="{{if .user}}{{.user.Username}}{{end}}" autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" value="" autocomplete="off" class="layui-input" placeholder="******">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">基本路径</label>
            <div class="layui-input-block">
                <input type="text" name="basedir" value="{{if .user}}{{.user.BasePath}}{{end}}" autocomplete="off" class="layui-input" placeholder="">
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">权限</label>
            <div class="layui-input-block">
                <input type="checkbox" name="permission.0" title="可以看到隐藏" {{if .user}}{{if .user.CanSeeHides }}checked{{end}}{{end}}>
                <input type="checkbox" name="permission.1" title="无需密码访问" {{if .user}}{{if .user.CanAccessWithoutPassword }}checked{{end}}{{end}}>
                <input type="checkbox" name="permission.2" title="添加离线下载任务" {{if .user}}{{if .user.CanAddOfflineDownloadTasks }}checked{{end}}{{end}}>
                <input type="checkbox" name="permission.3" title="创建目录或上传" {{if .user}}{{if .user.CanAddOfflineDownloadTasks }}checked{{end}}{{end}}>
                <input type="checkbox" name="permission.4" title="重命名"  {{if .user}}{{if .user.CanWrite }}checked{{end}}{{end}}>
                <input type="checkbox" name="permission.5" title="移动" {{if .user}}{{if .user.CanRename }}checked{{end}}{{end}}>
                <input type="checkbox" name="permission.6" title="复制" {{if .user}}{{if .user.CanMove }}checked{{end}}{{end}}>
                <input type="checkbox" name="permission.7" title="删除" {{if .user}}{{if .user.CanRemove }}checked{{end}}{{end}}>
                <input type="checkbox" name="permission.8" title="Webdav读取" {{if .user}}{{if .user.CanWebdavRead }}checked{{end}}{{end}}>
                <input type="checkbox" name="permission.9" title="Webdav管理" {{if .user}}{{if .user.CanWebdavManage }}checked{{end}}{{end}}>
            </div>
        </div>

        <div class="layui-form-item" pane>
            <label class="layui-form-label">停用</label>
            <div class="layui-input-block">
                <input type="checkbox" name="disabled" lay-skin="switch" lay-filter="switchTest" title="" checked>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;padding: 10px;">
            <input type="hidden" name="id" value="{{if .user}}{{.user.ID}}{{else}}0{{end}}">
            <button class="layui-btn layui-btn-sm" lay-filter="submit_user" lay-submit>保存</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </form>
</div>

<script>
layui.use(['layer','form','element','jquery','table','laydate','util'],function() {
///
$ = layui.$;
layer = layui.layer;
form = layui.form;
element = layui.element;
table = layui.table;
laydate = layui.laydate;
util = layui.util;

form.on('submit(submit_user)', function(data){
    var index = layer.load();
    var intarr = ['id'];
    for (var d in data.field) {
        if ($.inArray(d, intarr)!==-1){
            data.field[d] = parseInt(data.field[d]);
        } else if (d === 'disabled'){
            if (data.field[d] == 'on'){
                data.field[d] = true;
            } else {
                data.field[d] = false;
            }
        } else if ( d.indexOf(".") > -1){
            var t = d.split(".");
            var name = t[0];
            var val = t[1];

            if (name in data.field){
                data.field[name][val] = data.field[d];
            } else{
                data.field[name] = {};
                data.field[name][val] = data.field[d];
            }
            delete data.field[d];
        }
    }

    console.log(data.field['permission']);

    var permission = data.field['permission'];
    for (var i = 0; i < permission.length; i++) {
        console.log(i,permission[i]);
    }


    $.ajax({
        type: "POST",
        headers: {'Content-Type': 'application/json'},
        url: data.form.action,
        data: JSON.stringify(data.field),
        dataType: 'json',
        success: function(res) {
            layer.close(index);
            if (res.code != 200 ){
                layer.msg(res.message, {icon: 2});
            } else if (res.code == 200){
                setTimeout(function(){
                    parent.location.reload();
                }, 2000);
            } else {
                layer.msg("访问异常!", {icon: 2});
            }
        },
        error:function(e){
            layer.close(index);
            layer.msg(e, {icon: 2});
        }
    });
    return false;
});
///
});
</script>
</body>
</html>